

body {
    background-color: rgb(255, 255, 255);
    display: flex;
}


#quadrado {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    border: 4px solid black;
    width: auto;
    height: 600px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(150, 148, 148);
    padding: 20px;
}

/**/
#nome {
    margin-top: 20px;
}

.vermelho {
    color: #0055a5;
}

button,
.btn {
    padding: 22px 40px;
    background-color: #0055a5;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.5em;
}

.btn-centro {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.margin {
    margin-left: 20px;
    margin-right: 20px;
}
 
footer p{
    margin: 0;
    font: 0.9em;
}
