* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f8;
    color: #333;
}

/* LAYOUT PRINCIPAL */
.container,
.Compra {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    flex: 1;
}

/* HEADER */
header {
    background-color: #003366;
    color: white;
    padding: 30px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

.header-content {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo {
    width: 130px;
    height: auto;
}

/* BLOCO DE TEXTO */
#bloco {
    border: 1px solid black;
    background-color: #f4f6f8;
    border-radius: 10px;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px;
    text-align: justify;
    padding: 50px;
}

#bloco1 {
    border: 1px solid black;
    background-color: #f4f6f8;
    border-radius: 10px;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    padding: 50px;
}


/* CARROSSEL */
#carrossel {
    background-color: #f4f6f8;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    text-align: center;
}

.carousel-inner img {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
}

.carousel-item {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-block w-100 {
     width: 100%;
    object-fit: cover;
}

button,
.btn {
    padding: 12px 20px;
    background-color: #0055a5;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-centro {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background-color: #003366;
    color: white;
    margin-top: auto;
}

/* MEDIA QUERIES PARA TELAS PEQUENAS */
@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    .logo {
        width: 100px;
    }

    .carousel-inner img {
        max-width: 300px;
    }

    #bloco,
    #carrossel {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }

    .carousel-inner img {
        max-width: 100%;
    }

    .header-content {
        flex-direction: column;
    }
}